<div class="home-search">
    <div class="container">
      <h1 class="home-title">
        <img class="logo" src="/logo_yyf.png" alt="Intranet Search Engine">
      </h1>
        <div class="home-search">
            <%= form_tag search_hosts_path, method:"get" do %>
                <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
                  <%= text_field_tag :q, nil, { placeholder: "nginx", autofocus:"autofocus",  class: "flex-text tt-input", style: "position: relative; vertical-align: top;"} %>
                </span>
                <%= button_tag "Search", class: "btn btn-info", type: "submit", name: nil%>
              <% end %>
        </div>

        <p id="pegasus"><i>We are Pegasus</i></p>
    </div>
</div>
