<div class="aggregation">
    <div class="hidden-print hidden-xs">
        <h3 class="filter-title-service">Origanization</h3>
        <ul class="bar-filter filter-service finished">
          <li class="clearfix">
          <%= link_to "360", controller: 'intranets', action: 'search', q: "belong:360" %>
          </li>
        </ul>
    </div>
</div>
