<div class="aggregation">
    <div class="hidden-print hidden-xs">
        <h3 class="filter-title-service">Origanization</h3>
        <ul class="bar-filter filter-service finished">
        <% Intranet.all.map{|a| a.belong }.uniq.each do |t| %>
            <li class="clearfix">
            <span><%= t %></span>
            <%= link_to t, controller: 'controller', action: 'search', q: "belong: #{t}" %>
            </li>
        <% end %>
        </ul>
    </div>
</div>
