<%= render partial: "mini_search" %>
<hr>

<div class="search-results">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <%= render partial: "sidebar" %>
        <div class="result-list">
          <% Intranet.all.map{|a| a.belong }.uniq.each do |t| %>
              <%= link_to t, controller: 'intranets', action: 'search', q: "belong:#{t}" %>
          <% end %>
        </div>
      </div>
    </div><!--/row-->
  </div> <!-- /container -->
</div>
