<%= render partial: "mini_search" %>
<hr>

<div class="search-results">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <%= render partial: "sidebar" %>
        <div class="result-list">
            <%= link_to "360", controller: 'intranets', action: 'search', q: "belong:360" %>
        </div>
      </div>
    </div><!--/row-->
  </div> <!-- /container -->
</div>
