<footer class="footer" role="contentinfo" style="display: block;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <ul class="footer-links muted">
                    <li>
                        <a href="#">反馈</a>
                    </li>
                    <li>.</li>
                    <li>
                        <%= link_to "Github", "https://github.com/qingxp9/Intranet-Search-Engine" %>
                    </li>
                </ul>
            </div>
            <div class="col-sm-7 ">
                <p class="copyright">
                    <a href="#">@ 2015 neuqSec</a>
                </p>
            </div>
        </div>
    </div>
</footer>
