<div class="narbar-wrapper">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "主页", root_path%></li>
            <li><%= link_to "帮助", "#" %></li>
            <li><%= link_to "关于", "#" %></li>
         </ul>
          <ul class="nav navbar-nav navbar-right login-tip">
            <li><a href="">注册账号</a></li>
            <li><a href="">登录</a></li>
          </ul>
        </div>
        
    </div>
  </nav>
</div>
