<div class="mini-search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a href="/" class="hidden-xs pull-left">
                    <img class="logo-sm" src="" alt="Intranet Search Engine">
                </a>
                <div class="bar">
                  <%= form_tag (@hosts ? hosts_search_path : websites_search_path), method: 'get',class: "ultra-form" do %>
                    <span class="twitter-typeahead">
                      <%= text_field_tag :q, params[:q], placeholder: "Search ...", autocomplete: "off", class: "flex-text tt-input", type: "text" %>
                    </span>
                      <%= button_tag "搜索一下", class: "btn btn-info btn-default", type: "submit", name: nil%>
                  <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
