<div class="aggregation">
    <div class="hidden-print hidden-xs">
        <h3 class="filter-title-service">service</h3>
        <ul class="bar-filter filter-service finished">
            <li class="clearfix">
                <span style="width: 60%;">1002</span>
                <a href="#">http</a>
            </li>

            <li class="clearfix">
                <span style="width: 60%;">22</span>
                <a href="#">ftp</a>
            </li>
        </ul>
    </div>
</div>
