// Place all the styles related to the ScanTasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.task_logs {
  margin-top: 20px;
  overflow-x: scroll;
  height: 400px;
  white-space: pre;
  font-family: monospace;
  padding: 10px;
}
